certifi==2018.11.29
Click==7.0
Flask==1.0.2
Flask-Cors==3.0.7
Flask-PyMongo==2.2.0
Flask-SQLAlchemy==2.4.0
gunicorn==19.9.0
ipython==7.2.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.13.2
Jinja2==2.10
MarkupSafe==1.1.0
numpy==1.15.4
pandas==0.23.4
pandocfilters==1.4.2
parso==0.3.1
partd==0.3.9
path.py==11.5.0
pathlib2==2.3.3
patsy==0.5.1
pep8==1.7.1
pickleshare==0.7.5
Pillow==8.2.0
pkginfo==1.4.2
pluggy==0.8.0
ply==3.11
prometheus-client==0.5.0
prompt-toolkit==2.0.7
psutil==5.4.8
psycopg2==2.8.2
py==1.7.0
pycodestyle==2.4.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycurl==7.43.0.2
pyflakes==2.0.0
Pygments==2.3.1
pylint==2.3.1
pymongo==3.7.2
PyMySQL==0.9.3
python-dateutil==2.7.5
pytz==2018.7
simplegeneric==0.8.1
six==1.12.0
SQLAlchemy==1.2.15
traitlets==4.3.2
Werkzeug==0.14.1
